# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
airflow_venv/

# Airflow
airflow.db
logs/
*.log

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
